<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TDD practice">
    <test name="Tic Tac TDD ">
        <classes>
            <class name="tic_tac_toe_tests.TicTacTests"/>
            <class name="ship_trip_tests.ShipTripTests"/>

        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->